<%= form_with(model: store, class: "flex flex-col gap-10") do |f| %>
  <%= render 'shared/errors', object: store %>

  <div class="grid lg:grid-cols-2 gap-x-10 gap-y-5 ">
    <div class="flex flex-col gap-2">
      <%= f.label :business_name, class: 'form-label' do %>
        <span> business name </span>
        <span class="text-red-500">*</span>
      <% end %>
      <%= f.text_field :name, class: "text-field", required: true %>
    </div>

    <div class="flex flex-col gap-2">
      <%= f.label :location, class: 'form-label' do %>
        <span> location </span>
      <% end %>
      <%= f.text_field :location, class: "text-field" %>
    </div>

    <div class="flex flex-col gap-2">
      <%= f.label :logo, class: 'form-label' do %>
        <span> logo </span>
      <% end %>
      <%= f.file_field :logo, class: "border border-gray-600 outline-none file:px-2 file:py-2 bg-transparent file:bg-transparent file:border-0 file:border-r file:cursor-pointer file:mr-4 file:hover:bg-gray-100 text-sm rounded", accept: 'image/*' %>
    </div>

    <%= f.fields_for :users do |user_form| %>
      <div class="flex flex-col gap-2">
        <%= user_form.label :name, class: 'form-label' do %>
          <span> your name </span>
          <span class="text-red-500">*</span>
        <% end %>
        <%= user_form.text_field :name, class: "text-field", required: true %>
      </div>

      <div class="flex flex-col gap-2">
        <%= user_form.label :email, class: 'form-label' do %>
          <span> email </span>
          <span class="text-red-500">*</span>
        <% end %>
        <%= user_form.text_field :email, class: "text-field", required: true %>
      </div>

      <div class="flex flex-col gap-2">
        <%= user_form.label :phone, class: 'form-label' do %>
          <span> phone </span>
          <span class="text-red-500">*</span>
        <% end %>
        <%= user_form.text_field :phone, class: "text-field", required: true %>
      </div>

      <div class="flex flex-col gap-2">
        <%= user_form.label :password, class: 'form-label' do %>
          <span> password </span>
          <span class="text-red-500">*</span>
        <% end %>
        <%= user_form.password_field :password, class: "text-field", required: true %>
      </div>
    <% end %>
  </div>

  <%= f.submit class: 'btn-primary lg:w-1/3 hover:bg-gray-900 hover:text-secondary' %>

<% end %>