<div class="flex flex-col gap-10 min-h-screen pb-10 mx-auto container lg:px-6 px-3">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: 'stores'}
  ] %>

  <div class="flex md:flex-row flex-col justify-between md:items-center gap-3">
    <h1 class="font-semibold md:text-xl capitalize">stores (<%= @stores.size %>)</h1>
    <%= render 'components/drawer', button_class: 'btn-primary', button_icon: '', button_text: 'new store', id: 'new_product', title: 'new store' do %>
      <%= render 'form', store: Store.new %>
    <% end %>
  </div>

  <div class="flex flex-col mt-10 overflow-x-scroll lg text-xs">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="lg:px-6 px-3 py-3 text-left text-xs font-medium uppercase tracking-wider">
            #
          </th>
          <th scope="col" class="lg:px-6 px-3 py-3 text-left text-xs font-medium uppercase tracking-wider">
            store
          </th>
          <th scope="col" class="lg:px-6 px-3 py-3 text-left text-xs font-medium uppercase tracking-wider">
            actions
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% unless @stores.empty? %>
        <% @stores.each_with_index do |store, index| %>
          <tr>
            <td class="lg:px-6 px-3 py-4 whitespace-nowrap">
              <%= (index + 1).to_s.rjust(2, '0') %>.
            </td>
            <td class="lg:px-6 px-3 py-4 whitespace-nowrap capitalize hover:underline">
              <%= link_to store.name, store_url(store)  %>
            </td>
            <td class="lg:px-6 px-3 py-4 whitespace-nowrap">
              <%= button_to store, method: :delete, class: "text-red-500", title: "delete" do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  <div>
</div>
