<nav class="flex justify-between  w-full p-5 text-primary shadow-sm">
  <%= link_to root_path, class:"flex items-center gap-3" do %>
    <%= image_tag 'icon-v2.png', alt: 'logo', class: 'w-6' %>
    <p class="capitalize font-bold"> biz yangu </p>
  <% end %>

  <ul class="md:flex hidden items-center gap-4 capitalize font-medium text-sm">
   <%= link_to 'home', root_path, class: "hover:underline hover:font-semibold" %>
   <li class="hover:underline hover:font-semibold">about</li>
   <li class="hover:underline hover:font-semibold">solutions</li>
   <li class="hover:underline hover:font-semibold">pricing & plans</li>
   <li class="hover:underline hover:font-semibold">reviews</li>
  </ul>

  <div class="md:flex hidden gap-4 items-center">
    <button class="text-sm px-4 py-2 font-semibold hover:bg-secondary/20 rounded capitalize" onclick="document.getElementById('login-modal').classList.toggle('hidden');">
      Log in
    </button>

    <%= render 'home/login' %>

    <button class="btn-primary">
      <%= link_to new_store_path do %>
        get started
      <% end %>
    </button>
  </div>
</nav>