<nav class="bg-gray-50 w-40 min-h-screen  shadow-lg rounded-lg fixed">
  <div class="flex flex-col justify-center gap-5">
    <div class="flex flex-col gap-2 px-4 py-3 items-center">
      <% if current_user.store_admin? %>
        <% if @store.logo.attached? %>
          <%= image_tag(@store.logo, alt: @store.name, class: 'w-10 h-10 object-cover') %>
          <p class="capitalize font-semibold text-sm"> <%= @store.name %> </p>
        <% else %>
          <div class="bg-primary rounded-full h-10 w-10 flex justify-center items-center">
            <%= image_tag('icon-v1.png', alt: 'biz yangu logo', class: 'w-5') %>
          </div>
          <p class="uppercase font-semibold text-xs"> <%= @store.name %> </p>
        <% end %>
      <% else %>
        <%= image_tag('icon-v2.png', alt: 'biz yangu logo', class: 'w-5 object-cover') %>
      <% end %>
    </div>
    <ul class="text-xs capitalize font-semibold flex flex-col gap-4">
      <%= render 'home/sidebar/shared_links' %>
      <% if current_user.admin? %>
       <%= render 'home/sidebar/admin_links' %>
      <% elsif current_user.store_admin? %>
        <%= render 'home/sidebar/store_links' %>
      <% end %>
    </ul>
  </div>
</nav>

