<div class="flex flex-col gap-5 min-h-screen pb-10 mx-auto container lg:px-6 px-3">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: 'product categories'}
  ] %>

  <div class="flex md:flex-row flex-col md:justify-between md:items-center gap-3">
    <h1 class="font-semibold md:text-xl capitalize">categories (<%= @product_categories.size %>)</h1>
    <%= render 'components/drawer', button_class: 'btn-primary', button_icon: '', button_text: 'new category', id: 'new_category', title: 'new product category' do %>
      <%= render 'form' %>
    <% end %>
  </div>

  <div class="flex flex-col mt-10 overflow-x-scroll text-xs">
    <table class="min-w-full divide-y divide-gray-200 overflow-x-scroll">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="lg:px-6 px-3 py-3 text-left text-xs font-medium uppercase tracking-wider">
            #
          </th>
          <th scope="col" class="lg:px-6 px-3 py-3 text-left text-xs font-medium uppercase tracking-wider">
            category
          </th>
          <th scope="col" class="lg:px-6 px-3 py-3 text-left text-xs font-medium uppercase tracking-wider">
            actions
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @product_categories.each_with_index do |category, index| %>
        <% if category.id %>
          <tr>
            <td class="lg:px-6 px-3 py-4 whitespace-nowrap">
              <%= (index + 1).to_s.rjust(2, '0') %>.
            </td>
            <td class="lg:px-6 px-3 py-4 whitespace-nowrap capitalize hover:underline">
              <%= link_to category.name, product_category_url(category)  %>
            </td>
            <td class="lg:px-6 px-3 py-4 whitespace-nowrap">
              <%= button_to category, method: :delete, class: "text-red-500", title: "delete" do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  <div>
</div>
