<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'flex flex-col gap-8'}) do |f| %>
  <div class="flex flex-col gap-2">
    <%= f.label :email, class: 'form-label' do %>
      <span> email </span>
      <span class="text-red-500">*</span>
    <% end %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field", required: true %>
  </div>

  <div class="flex flex-col gap-2">
    <%= f.label :password, class: 'form-label' do %>
      <span> password </span>
      <span class="text-red-500">*</span>
    <% end %>
    <%= f.password_field :password, autocomplete: "current-password", class: "text-field", required: true %>
  </div>

  <%= f.submit "Log in", class: "btn-secondary" %>

  <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'text-xs underline text-primary hover:text-blue-900 font-semibold' %>
<% end %>