<%= form_with(model: product, class: "flex flex-col gap-5 lg:w-3/4 mt-5") do |form| %>

  <div class="flex flex-col gap-1">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: "text-field" %>
  </div>

  <div class="flex flex-col gap-1">
    <%= form.label :product_category_id, class: 'form-label' %>
    <%= form.select :product_category_id, @categories, class: "text-field capitalize" %>
  </div>

  <%= form.submit class: "btn-primary" %>
<% end %>
