<!DOCTYPE html>
<html>
  <head>
    <title>Biz Yangu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="min-h-screen bg-gray-50 relative">

    <% if current_user %>
      <%= render 'home/sidebar' %>
    <% else %>
      <%= render 'home/navbar' %>
    <% end %>

    <main id="mainContainer" class="<%= current_user ? 'md:pl-20 pt-10': '' %>">
      <% unless flash.empty? %>
        <%= render 'layouts/flash' %>
      <% end %>

      <%= yield %>
    </main>

    <script>
      document.addEventListener("turbo:load", () => {
        const flash = document.getElementById('flash');
        const progressBar = document.getElementById('progress-bar');
        let progress = 100;
        let intervalId;

        if (flash) {
          intervalId = setInterval(() => {
            progress -= 1;
            progressBar.style.width = `${progress}%`;

            if (progress <= 0) {
              clearInterval(intervalId);
              flash.classList.add('hidden');
            }
          }, 50);
        }

        function closeFlash() {
          const flash = document.getElementById('flash');
          if (flash) {
            flash.classList.add('hidden');
          }
        }
      });
    </script>

  </body>
</html>
